<%= link_to user_post_path(@user, post), class: 'postContainer' do %>
  <h1 class="postTitle"> <%= post.title %> </h1>
  <p class="postText"> <%= post.text %></p>
  <div class="postInteractionContainer">
    <p> Comments: <%= post.comments_counter %></p>
    <p> Likes: <%= post.likes_counter %></p>
  </div>
<% end %>