<div class="postContainer">
  <%= link_to user_post_path(current_user.id, post), class: 'linkToPost' do %>
    <h1 class="postTitle"> <%= post.title %> </h1>
  <% end %>
  <p class="postText"> <%= post.text %></p>
  <div class="postInteractionContainer">
    <p> Comments: <%= post.comments_counter %></p>
    <p> Likes: <%= post.likes_counter %></p>
  </div>
  <% if can_delete?(post)%>
    <%= link_to 'Delete', user_post_path(post.author_id, post), method: :delete, data: { confirm: 'Delete Post?' }, class: "deletePostBtn" %>
  <% end %>
</div>
