<% if flash[:alert] %>
  <div class="flash alert"><%= flash[:alert] %></div>
<%elsif flash[:notice]%>
  <div class="flash notice"><%= flash[:notice] %></div>
<% end %>

<div class="postShowContainer">
  <div class="postShowInfo">
    <div class="mainInfo">
      <h3> <%= @post.title %> by <%= @post.author.name %> </h3>
      <p>Comments: <%= @post.comments_counter %>,
        Likes: <%= @post.likes_counter %></p>
      <%= render partial: "shared/like", locals: { like: Like.new, post: @post, user: current_user } %>
    </div>
    <p class="postText"> <%= @post.text %> </p>
  </div>
  <div class='showCommentsContainer'>
    <%= render partial: 'comment', collection: @post.comments %>
    <%= link_to new_user_post_comment_path(current_user, @post), class: 'commentSubmitButton button' do %>
      Add New Comment
    <% end %>
  </div>
</div>
<%= render "shared/logout_button" %>
<%= render "shared/back_button" %>
<%= render "shared/home_button"%>
