<div class="postShowContainer">
  <div class="postShowInfo">
    <div class="mainInfo">
      <h3> <%= @post.title %> by <%= @post.author.name %> </h3>
      <p>Comments: <%= @post.comments_counter %>,
        Likes: <%= @post.likes_counter %></p>
      <%= render partial: "shared/like", locals: { like: Like.new, post: @post, user: @post.author } %>
    </div>
    <p class="postText"> <%= @post.text %> </p>
  </div>
  <div class='showCommentsContainer'>
    <%= render partial: 'comment', collection: @post.comments %>
    <%= link_to new_user_post_comment_path(@post.author, @post), class: 'commentSubmitButton button' do %>
      Add New Comment
    <% end %>
  </div>
</div>
