<!DOCTYPE html>
<html>
  <head>
    <title>Minimalistic Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'rails-ujs' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" href="https://i.pinimg.com/originals/a8/6f/6f/a86f6fcbce14caef74f62cf2d3df7552.png" type="image/png">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
