<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml">

   <head>
      <meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
      <meta http-equiv = "Content-Language" content = "en-us" />
      <title>Blog Application</title>
      <%= stylesheet_link_tag "style" %>
      <link rel="icon" href="https://i.pinimg.com/originals/a8/6f/6f/a86f6fcbce14caef74f62cf2d3df7552.png" type="image/png">
      <%= csrf_meta_tags %>
      <%= javascript_include_tag 'rails-ujs' %>
   </head>

   <body id = "library">
      <div id = "container">
         <%= render 'shared/navbar'%>
         <div id = "generalContainer">
            <%= yield -%>
         </div>
         
      </div>
   <script src="https://kit.fontawesome.com/001e3526ee.js" crossorigin="anonymous"></script>
   </body>
   
</html>